.details-wrapper{
  margin-top: 20px;
  margin-bottom: 20px;
}
.invoice-title{
  border: none;
  font-size: 1.20rem;
  font-weight: 500;
  text-align: center;
}
.invoice-title:focus{
  border:none;
  outline:none;
  box-shadow: none;
}
.invoice-form-wrapper{
  width:100%;
  margin: 0px 20px;
  padding: 30px 50px;
    border: 1px solid #bdbcbc;
}
.back-button{
  float: left;
  cursor: pointer;
}
.print-button{
  float: right;
  cursor: pointer;
}
.invoice-details{
  float: right;
  clear: both;
  margin-right: 10px;
}
.client-invoice-details{
  padding: 0;
  margin: 0;
  font-size: 13px;
  float: right;
  margin-right: 10px;
  clear: both;
}
.freelancer-details{
  margin-top: 1px;
}
.freelancer-address{
  font-size: 13px;
  padding: 0;
  margin: 0;
}
.freelancer-email{
  font-size: 14px;
  margin-top: 10px;
}
.client-details{
  padding-top: 0;
  text-align: end;
  border: none;
  font-size: 1.25rem; 
  font-weight: 500;
}
.client-details:active{
  outline: none;
}
.client-details:focus{
  outline: none;
  box-shadow: none;
}
.client-name{
  padding: 5px;
}
.client-company{
  padding: 5px;
  padding-bottom: 0;
}
.client-email{
  padding-top: 0;
  font-size: 14px; 
  font-weight: 400;
}
.intro-textarea{
  width: 100%;
  padding: 0;
  margin: 0;
  resize: none;
  border: none;
  overflow:auto;
  height: 170px;
  font-size: 13px;
}
.intro-textarea:focus{
  outline: none;
  border: none;
  box-shadow: none;
}
.invoice-table-head{
  background-color: #bdbcbc;
}
.invoice-table-head tr th{
  font-size: 11px;
}
.invoice-table tbody td{
  padding: 5px;
  font-size: 11px;
}
.product-input{
  border:none;
  border-radius: 0;
  padding:0.2rem;
  font-size: 11px;
}
.product-input:focus{
  outline: none;
  box-shadow: none;
}
.product-input.quantity{
  width:40px;
}
.input-range {
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .input-range__label{
      visibility: hidden;
  }
  .input-range__track{
    background: #565656;
}
  .input-range__slider{
    background: #A9A9A9;
    border: 1px solid #A9A9A9;
  }
  .add-item-btn{
    font-size: 14px;
    color: green;
    cursor: pointer;
  }
  .remove-item-btn{
    font-size: 14px;
    color: red;
    cursor: pointer;
  }
  .payment-proportions{
    font-size: 13px;
    margin-bottom: 20px;
  }
  .payment-duedate{
    font-size: 13px;
    margin-bottom: 0px;
  }