.displayInvoices {
  margin: 0;
}
.displayInvoices .displayInvoices__heading {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 30px;
}
.displayInvoices .displayInvoices__topSection form {
  display: flex;
}
.displayInvoices .displayInvoices__topSection label {
  font-size: 13px;
  margin: 0 0 3px 0;
}
.displayInvoices .displayInvoices__topSection input {
  margin-right: 10px;
  width: 100%;
  height: 48px;
  background: #dbdbdb;
  color: #97999B;
  border: 1px solid #97999B;
  border-radius: 8px;
  font-size: 12px;
  padding: 15px;
  outline: none;
}
.displayInvoices .displayInvoices__topSection input:focus {
  outline: none;
  box-shadow: 0 0 0 rgb(255, 255, 255);
}
.displayInvoices .displayInvoices__topSection button {
  height: 48px;
  width: 120px;
  border: none;
  border-radius: 12px;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
}
.displayInvoices .displayInvoices__table {
  border-collapse: separate;
  border-spacing: 0 1em;
  width: 100%;
  color: #1A1A1A;
}
.displayInvoices .displayInvoices__table thead {
  border: none;
}
.displayInvoices .displayInvoices__table thead tr th {
  padding: 0 20px;
}
.displayInvoices .displayInvoices__table tbody {
  border: none;
}
.displayInvoices .displayInvoices__table tbody tr {
  background-color: #fff;
  font-size: 14px;
}
.displayInvoices .displayInvoices__table tbody tr td {
  padding: 20px;
}
.displayInvoices .displayInvoices__table tbody tr td .details {
  color: #97999B;
  font-size: 13px;
}
.displayInvoices .displayInvoices__table tbody tr td .cancel {
  color: #D36480;
}
.displayInvoices .displayInvoices__table tbody tr td .resolved {
  color: #5BA967;
}
.displayInvoices .displayInvoices__table tbody tr td .pending {
  color: #F5DF4D;
}
.displayInvoices .displayInvoices__table tbody tr td a {
  color: #1A1A1A;
  text-decoration: none;
}
tr td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}