.displayInvoices {
  margin: 0;
}
.displayInvoices .displayInvoices__heading {
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 30px;
}
.displayInvoices .displayInvoices__topSection form {
  display: flex;
}
.displayInvoices .displayInvoices__topSection label {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #1A1A1A;
  margin: 0 0 5px 0;
}
.displayInvoices .displayInvoices__topSection input {
  margin-right: 10px;
  width: 100%;
  height: 48px;
  color: #97999B;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 17px 20px;
  outline: none;
  background: #dbdbdb;
  border: 1px solid #97999B;
  box-sizing: border-box;
  border-radius: 8px;
}
.displayInvoices .displayInvoices__topSection input:focus {
  outline: none;
  box-shadow: 0 0 0 rgb(255, 255, 255);
}
.displayInvoices .displayInvoices__topSection button[type="submit"] {
  height: 48px;
  width: 150px;
  border: none;
  border-radius: 20px;
  padding: 14.5px 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
.displayInvoices .displayInvoices__createNew {
  background: #1A1A1A;
  border-radius: 20px;
  padding: 0 24px;
  height: 48px;
  width: 200px;
  margin-left:10px;
  border: none;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.displayInvoices .displayInvoices__createNew .plus {
  color: #F5DF4D;
  margin-right: 10px;

}
.displayInvoices .displayInvoices__table {
  border-collapse: separate;
  border-spacing: 0 1em;
  width: 100%;
  color: #1A1A1A;
}
.displayInvoices .displayInvoices__table thead {
  border: none;
}
.displayInvoices .displayInvoices__table thead tr th {
  padding: 0 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.displayInvoices .displayInvoices__table tbody {
  border: none;
}
.displayInvoices .displayInvoices__table tbody .modalButton {
  border: none;
  background: none;
}
.displayInvoices .displayInvoices__table tbody .business {
  display: flex;
  text-align: left;
}
.displayInvoices .displayInvoices__table tbody tr {
  background-color: #fff;
  font-size: 14px;
}
.displayInvoices .displayInvoices__table tbody tr td {
  padding: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
.displayInvoices .displayInvoices__table tbody tr td .newInvoice {
  color: #5BA967;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.displayInvoices .displayInvoices__table tbody tr td .name {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
}
.displayInvoices .displayInvoices__table tbody tr td a {
  display: flex;
}
.displayInvoices .displayInvoices__table tbody tr td .circle {
  width: 40px;
  height: 40px;
  background: #C4C4C4;
  border-radius: 50%;
  margin-right: 10px;
}
.displayInvoices .displayInvoices__table tbody tr td .details {
  color: #97999B;
  font-size: 13px;
}
.displayInvoices .displayInvoices__table tbody tr td .cancel {
  color: #D36480;
}
.displayInvoices .displayInvoices__table tbody tr td .resolved {
  color: #5BA967;
}
.displayInvoices .displayInvoices__table tbody tr td .pending {
  color: #F5DF4D;
}
.displayInvoices .displayInvoices__table tbody tr td a {
  color: #1A1A1A;
  text-decoration: none;
}
tr td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
tr td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.displayInvoices .Modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}