.BusinessDashboard .BusinessDashboard__walletBalance {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  min-height: 100px;
  border-radius: 16px;
}
.BusinessDashboard .BusinessDashboard__walletBalance .BusinessDashboard__walletBalance-section {
  display: flex;
  padding: 10px;
}
.BusinessDashboard .BusinessDashboard__walletBalance .BusinessDashboard__walletBalance-icon {
  background-color: #f5f5f5;
  border-radius: 50%;
  border: 1px solid #F5F5F5;
  width: 60px;
  height: 60px;
  padding: 12px;
}
.BusinessDashboard .BusinessDashboard__walletBalance .BusinessDashboard__walletBalance-tagline {
  color: #97999B;
  font-size: 16px;
  line-height: 24px;
  margin: 4px 0 0 0;
}
.BusinessDashboard .BusinessDashboard__walletBalance .BusinessDashboard__walletBalance-balance {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #1A1A1A;
  margin: 3px 0 0 0;
}
.BusinessDashboard .BusinessDashboard__recentInvoices {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
}

.BusinessDashboard .BusinessDashboard__table {
  border-collapse: separate;
  border-spacing: 0 1em;
  width: 100%;
  color: #1A1A1A;
}
.BusinessDashboard .BusinessDashboard__table thead {
  border: none;
}
.BusinessDashboard .BusinessDashboard__table thead tr th {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0 20px;
}
.BusinessDashboard .BusinessDashboard__table tbody {
  border: none;
}
.BusinessDashboard .BusinessDashboard__table tbody tr {
  background-color: #fff;
  font-size: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}
.BusinessDashboard .BusinessDashboard__table tbody tr td {
  padding: 20px;
}
.BusinessDashboard .BusinessDashboard__table tbody tr td .name {
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0em;
  margin: 0;
}
.BusinessDashboard .BusinessDashboard__table tbody tr td .details {
  color: #97999B;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  margin: 0;
}
.BusinessDashboard .BusinessDashboard__table tbody tr td .cancel {
  color: #F5DF4D;
}
.BusinessDashboard .BusinessDashboard__table tbody tr td .resolved {
  color: #5BA967;
}
.BusinessDashboard .BusinessDashboard__table tbody tr td .pending {
  color: #D36480;
}
.BusinessDashboard .BusinessDashboard__table tbody tr td .status {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}
.BusinessDashboard .BusinessDashboard__table tbody tr td a {
  color: #1A1A1A;
  text-decoration: none;
}
tr td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.BusinessDashboard .ViewAllButton {
  background: #E5E5E5;
  color: #1A1A1A;
}

.BusinessDashboard .BusinessDashboard__freelancersTeam {
  background: #FFFFFF;
  border-radius: 16px;
  max-width: 100%;
  padding: 15px;
}
.BusinessDashboard .BusinessDashboard__freelancersTeam .freelancersTeamHeading {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 3px 0;
}
.BusinessDashboard .BusinessDashboard__freelancersTeam .freelancersTeamTagline {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #97999B;
}
.BusinessDashboard .BusinessDashboard__freelancersTeam .BusinessDashboard-freelancer {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #F5F5F5;
}
.BusinessDashboard .BusinessDashboard__freelancersTeam .circle {
  width: 48px;
  height: 48px;
  background: #C4C4C4;
  border-radius: 50%;
}
.BusinessDashboard .BusinessDashboard__freelancersTeam .name {
  margin: 10px 0 0 10px;
}