.layout .dashboard {
    display: flex;
}
.layout .dashboard .betaBar {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    background: #574AE2;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.layout .dashboard .betaBar .tool-tip {
    margin-left: 5px;
}
.layout .dashboard .betaBar .tool-tip img {
    width: 18px;
    height: 18px;
}
.layout .dashboard .betaBar .tool-tip .tool-tip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.layout .dashboard .betaBar .tool-tip:hover .tool-tip-text {
    visibility: visible;
}
.layout .dashboard .sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70px;
    height: 100vh;
    background-color: #fff;
    padding: 20px 15px;
}
.layout .dashboard .sidebar .button {
    padding: 10px 0;
    display: block;
    text-decoration: none;
    color: #97999B;
    font-size: 12px;
}
.layout .dashboard .sidebar .button:hover img {
    background-color: #F5DF4D;
    ;
}
.layout .dashboard .sidebar .button img {
    display: block;
    margin: 0 auto;
    padding: 5px;
    width: 40px;
    border: 1px solid #F5F5F5;
    border-radius: 8px;
}
.layout .dashboard main {
    padding: 0 0 20px 0;
}
.layout .dashboard .sidebar .button.logout-btn {
    border: none;
    background: none;
    margin-bottom: auto;
}
.layout .dashboard .sidebar .button.logout-btn img {
    background: #574AE2;
}

.layout .dashboard .main {
    padding-left: 70px;
}