.roleChoice {
  text-align: center;
  margin: 0 10px;
  color: #000;
}
.roleChoice .role__button {
  padding: 40px 20px;
  margin: 0 10px;
  background: #FFFFFF;
  color: #000;
  border-radius: 16px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  height: 95%;
  width: 100%;
}
.roleChoice .role__button h6 {
  font-size: 20px;
}
.roleChoice .role__button p {
  font-size: 13px;
  color: #97999B;
}
.roleChoice .role__button .circle {
  display: block;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.roleChoice .role__button .circle-freelancer {
  background: #D36480;
}
.roleChoice .role__button .circle-business {
  background: #574AE2;
}