.settings {
  margin: 0;
}
.settings .settings__heading {
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
}
.settings .settings__box {
  background-color: #fff;
  border-radius: 16px;
  padding: 30px 20px;
  margin-top: 20px;
}
.settings .settings__boxHeading {
  font-size: 20px;
  font-weight: 700;
}
.settings .settings__label {
  text-transform: uppercase;
  color: #97999B;
  font-size: 12px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.settings .settings__inputBox {
  margin: 4px 0 0 0;
  padding: 5px 8px;
  background-color: #F5F5F5;
  border: 1px solid #E5E5E5;
  border-radius: 8px;
}
.settings .settings__button {
  background-color: #1A1A1A;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: 600;
  margin: 25px 0;
}

.buttn{
  background: white;
  border-radius: 14px;
  border: none;
  font-weight: 600;
  margin: 10px 50px 10px 30%;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
  padding-top: 0;
  padding-bottom: 0;
}

.inv-button {
  background: #1a1a1a;
  color: white;
  border-radius: 14px;
  border: none;
  padding: 7px 18px;
  font-weight: 600;
  margin-right: 5px;

}

.i-btn {
  background: grey;
  color: #fff;
  border-radius: 14px;
  border: none;
  padding: 7px 18px;
  font-weight: 600;
  
}

.btnenb{
  background: #1a1a1a;
  color: white;
  border-radius: 14px;
  border: none;
  padding: 7px 15px;
  font-weight: 600;
  margin: 10px 40%;
}